.clearfix::after {
    clear: both;
    content: "";
    display: block;
}

body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;n
}

.header {
    width: cover;
    height: 325px;
    margin-bottom: 20px;
    background-image: url("../images/budget.jpg");
    padding-top: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#title {
    padding:10px;
    height: 215px;
    width: 360px;
    margin-left: 40px;
    background: #fcd94a;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#titleDiv {
    font-family: 'Modak', cursive;
    font-size: 5em;
    text-align: center;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

h2 {
    font-size: 1.75em;
    margin: 1em 0 0.5em;
}

.card-body {
    padding: 2em;
}

.card label {
    font-weight: 700;
}

#toggleFormButton {
    float: right;
    margin-top: 0.5em;
    margin-bottom: 0.5em
}

#budgetContainer {
    margin: auto;
    padding-top: 0.2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#addItemForm {
    display: none;
}

#hideForm {
    display: block;
    padding-top: 0.5em;
    text-align: center;
}

table {
    margin-top: 1em;
    table-layout: fixed;
}

th.date,
th.name,
th.category  {
    width: 20%;
}

th.notes {
    width: 25%;
}

th.amount {
    width: 10%;
}

.delete {
    color: red;
    cursor: pointer;
    font-weight: 700;
    padding-right: 0.3em;
    text-align: right;
}

.delete:hover {
    color: darkred;
}

tfoot td {
    font-weight: 700;
    margin-right: 1em;
    text-align: right;
}